body{
    background-color:  #f4f4f4;;
    color: #555;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
h1{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:black;
    text-align: center;
    border: 3px solid black;
    border: 5px solid coral; 
    background-color: coral;

}
#navbar{
    background-color: darkgray;
    color: white;
}
#navbar ur{
    padding: 0;
    list-style: none;
}
#navbar li{
    display: inline;
}
#navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 30px;
    text-align: center;
}
h2{
    background-color: black;
    text-align: center;
    color: white;
    padding: 0px;
}
#services{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black
}
.links{
    background-color: black;
    color: white;
    text-align: center;
    float: none;
}
.links :visited{
    color: red;
}
